<launch>
  <node pkg="clearpath_sensors" type="cmps09.py" name="cmps09" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
    <param name="hz" value="50" />
  </node>
  <node pkg="clearpath_sensors" type="nmea_gps.py" name="gps" output="screen">
    <param name="port" value="/dev/ttyACM0" />
  </node>
</launch>